h1 {
    color: blue;
    border: 2px solid red;
    text-align: center;
}

table,
th,
td {
    border: 3px solid blue;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    padding: 20px;
}